# KR Campus environment variables

GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
KRCAMPUS_GOOGLE_MAPS_API_KEY="YOUR_KRCAMPUS_GOOGLE_MAPS_API_KEY"
SITE_URL="https://krcampus.net"
GA_MEASUREMENT_ID="G-ZTC8BNMCRR"
ASSET_VERSION="2026-06-09"
